<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col mb-5 text-center">
        <h2>Portfolio</h2>
        <p>The cakes I already baked for my clients.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 mx-auto mb-5">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('wedding')">Wedding cakes</button>
        <button class="btn" onclick="filterSelection('christmas')"> Christmas cakes</button>
        <button class="btn" onclick="filterSelection('birthday')"> Birthday cakes</button>
        <button class="btn" onclick="filterSelection('anniversary')"> Anniversary cakes</button>
      </div>
    </div>
    <div class="row grid">
      <% cakes.forEach(function(cake){ %>
        <div class="hide col-lg-4 col-md-6 col-sm-12 <%=cake.category%>">
          <div class="text-center">
            <img class="mb-3" src="http://localhost:8080/images/<%=cake.name%>" alt="<%=cake.alt%>" 
style="width:100%">
            <h4><%=cake.header%></h4>
            <p><%=cake.description%></p>
            <button class="btn-danger" onclick="sendDelete('http\:\/\/localhost:3000\/portfolio', 
<%=JSON.stringify(cake.name)%>)"> DELETE</button>
          </div>
        </div>
      <% });%>
    </div>
</section>