<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PortFolio</title>
      <%- include('./partials/head.ejs') %>
  </head>
  
    <body class="position-relative" data-bs-spy="scroll">
          <%- include('./partials/navbar.ejs') %>
          <div data-spy="scroll" data-target="#navbar" data-offset="0">
            <%- include('./partials/home.ejs', {data: data}) %>
            <%- include('./partials/about.ejs') %>
            <%- include('./partials/services.ejs') %>
            <%- include('./partials/recommendations.ejs', {datarecommend: datarecommend}) %>
            <%- include('./partials/portfolio.ejs') %>
            <%- include('./partials/contact.ejs') %>
          </div>
          <%- include('./partials/scripts.ejs') %>
          <script>
              var typed = new Typed(".aboutMe", {
                strings: <%- JSON.stringify(array) %> ,
                smartBackspace: true,
                typeSpeed: 100,
                backSpeed: 100,
                loop: true,
                loopCount: Infinity,
                startDelay: 1000
            });
          </script>
    </body>
</html>
